@use './partials/header';
@import '~bootstrap/scss/bootstrap';

body {
    background: cadetblue;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-home {
    height: 500px;
    background-color: red;
    background-image: url('https://img.freepik.com/free-photo/movie-background-collage_23-2149876030.jpg');
}